# Backup files
*.bak
*~

# Build process
## Global
*.[oa]
*.l[oa]
.deps/
.libs/
.inst/
/tmp/
/obj/
/_install_pkgprotodir/
Makefile
Makefile.in
## Parent directory only
/aclocal.m4
/ar-lib
/autom4te.cache/
/ChangeLog
/ChangeLog.adoc
/config.guess
/config.log
/config.status
/config.sub
/config.h
/config.cache
/configure
/config.nut_report_feature.log*
/conf??????/
/conf??*.file
/dir.??????/
/dir?.???????/
/configure-test*/
/confdefs.h
/conftest.*
/cscope.*
/depcomp
/INSTALL
/INSTALL.nut
/NEWS
/README
/TODO
/UPGRADING
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
*-spellchecked
*-prepped
*.usage-report
*.adoc-parsed
*.adoc*.tmp
*.txt*.tmp
/cppcheck*.xml
/.ci*.txt*
/.ci*.log
/.ci*.log.*
.dirstamp
*.exe

# Python precompiled files
__pycache__/
*.pyc

# Dist
/nut-*.*.*/
/nut-*.tar.gz
/nut*.rpm
/NUT*.local.gz
/NUT*.p5i
/NUT*.depot
/*.msi
/*.MSI

# Official dist
/nut-*.tar.gz.md5
/nut-*.tar.gz.sha256
/nut-*.tar.gz.sig

# Debuggers and IDEs
.gdb_history
/nbproject
/.idea
/.vscode
/*.iml

# Coredumps
*.stackdump
*.core
core
