# Backup files
*.bak
*~

# Build process
## Global
*.[oa]
*.l[oa]
.deps/
.libs/
.inst/
Makefile
Makefile.in
## Parent directory only
/aclocal.m4
/autom4te.cache/
/ChangeLog
/config.guess
/config.log
/config.status
/config.sub
/config.cache
/configure
/cscope.*
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
common/.dirstamp

# Dist
/nut-*.*.*/
/nut-*.tar.gz

# Official dist
/nut-*.tar.gz.md5
/nut-*.tar.gz.sha256
/nut-*.tar.gz.sig
