ChangeLog
configure
Makefile.in
nut-*.tar.gz
nut-*.*.*
Makefile
config.log
config.status
autom4te.cache
*-stamp
svn-commit.tmp
aclocal.m4
configure
libtool
mkinstalldirs
Makefile.in
config.guess
config.sub
ltmain.sh
depcomp
install-sh
missing
.deps
*.bak
