#!/bin/sh -e

# source the debconf library
. /usr/share/debconf/confmodule

case "$1" in

  configure)
    # ask this if upgrading to 2.0.0 or later
    if dpkg --compare-versions "$2" lt-nl "2.0.1" ; then
      db_input critical nut-cgi/major_template_changes || true
      db_go
      db_get nut-cgi/major_template_changes
      if [ "$RET" = "false" ] ; then
        db_fset nut-cgi/major_template_changes seen false
      fi
    fi
    ;;

  *)
    ;;

esac

