#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_OPTIONS=

DEB_HOST_ARCH_OS := $(shell dpkg-architecture -qDEB_HOST_ARCH_OS 2>/dev/null)
CFLAGS+=$(if $(findstring debug,$(DEB_BUILD_OPTIONS)),-g)
CFLAGS+=$(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),-O0,-O2)
CONFIGUREFLAGS+=$(if $(findstring nostrip,$(DEB_BUILD_OPTIONS)),,--enable-strip)
CONFIGUREFLAGS+=--build=$(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
CONFIGUREFLAGS+=--host=$(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
CONFIGUREFLAGS+=$(if $(wildcard /usr/include/linux/hiddev.h),--with-linux-hiddev=/usr/include/linux/hiddev.h,--without-linux-hiddev)
ifeq (linux,$(DEB_HOST_ARCH_OS))
	CONFIGUREFLAGS+=--with-udev-dir=/etc/udev
endif

configure: patch configure-stamp
configure-stamp:
	dh_testdir
	CFLAGS='$(CFLAGS)' ./configure $(CONFIGUREFLAGS) \
	    --prefix=/ \
	    --sysconfdir=/etc/nut \
	    --mandir=/usr/share/man \
	    --libdir=/usr/lib \
	    --includedir=/usr/include \
	    --without-ssl \
	    --with-hal \
	    --with-cgi \
	    --with-dev \
	    --enable-static \
	    --with-statepath=/var/run/nut \
	    --with-altpidpath=/var/run/nut \
	    --with-drvpath=/lib/nut \
	    --with-cgipath=/usr/lib/cgi-bin/nut \
	    --with-htmlpath=/var/www/nut \
	    --with-pidpath=/var/run/nut \
	    --datadir=/usr/share/nut \
	    --with-user=nut --with-group=nut
	touch $@

build: configure
build: build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch $@

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp install-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean
	debconf-updatepo
	-test -r /usr/share/misc/config.sub && \
	  cp -f /usr/share/misc/config.sub config.sub
	-test -r /usr/share/misc/config.guess && \
	  cp -f /usr/share/misc/config.guess config.guess

patch: patch-stamp
patch-stamp:
	dpatch apply-all
	touch $@

unpatch:
	dpatch deapply-all
	rm -rf patch-stamp debian/patched

uninstall:
	dh_testdir
	dh_testroot
	rm -f install-stamp
	dh_clean -k

install: build
install: install-stamp
install-stamp: DH_OPTIONS=
install-stamp:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install \
		DESTDIR=$(CURDIR)/debian/nut RUNUID=65534 RUNGID=65534

	# CGI:
	mkdir -p $(CURDIR)/debian/nut-cgi/usr/lib/cgi-bin/nut $(CURDIR)/debian/nut-cgi/usr/share/man/man5 $(CURDIR)/debian/nut-cgi/usr/share/man/man8 
	mv $(CURDIR)/debian/nut/usr/lib/cgi-bin/nut/* $(CURDIR)/debian/nut-cgi/usr/lib/cgi-bin/nut/ 
	rm -rf $(CURDIR)/debian/nut/usr/lib/cgi-bin 

	mkdir -p $(CURDIR)/debian/nut-cgi/var
	mv $(CURDIR)/debian/nut/var/www $(CURDIR)/debian/nut-cgi/var
 
	for manpage in man5/upsstats.html.5 man5/hosts.conf.5 man5/upsset.conf.5 \
	    man8/upsimage.cgi.8 man8/upsset.cgi.8 man8/upsstats.cgi.8 ; do \
	    mv $(CURDIR)/debian/nut/usr/share/man/$$manpage \
	     $(CURDIR)/debian/nut-cgi/usr/share/man/$$manpage ; \
	done 
 
	# SNMP:
	mkdir -p $(CURDIR)/debian/nut-snmp/lib/nut $(CURDIR)/debian/nut-snmp/usr/share/man/man8
	mv $(CURDIR)/debian/nut/usr/share/man/man8/snmp-ups.8 $(CURDIR)/debian/nut-snmp/usr/share/man/man8
	mv $(CURDIR)/debian/nut/lib/nut/snmp-ups $(CURDIR)/debian/nut-snmp/lib/nut

	mv $(CURDIR)/debian/nut/lib/nut/upsdrvctl $(CURDIR)/debian/nut/sbin

	# HAL:
	mkdir -p $(CURDIR)/debian/nut-hal-drivers/usr/lib/hal \
		$(CURDIR)/debian/nut-hal-drivers/usr/share \
		$(CURDIR)/debian/nut-hal-drivers/etc/udev/rules.d
	mv $(CURDIR)/debian/nut/usr/lib/hal/hald-addon-* $(CURDIR)/debian/nut-hal-drivers/usr/lib/hal
	mv $(CURDIR)/debian/nut/share/hal $(CURDIR)/debian/nut-hal-drivers/usr/share/
	# HAL support also requires the udev rules
	install -m 644 $(CURDIR)/scripts/udev/nut-usbups.rules \
		$(CURDIR)/debian/nut-hal-drivers/etc/udev/rules.d/025_nut-usbups.rules

	# shared library and -dev
	# Note: leave dummy-ups in the nut package to allow Debian/Ubuntu QA tests
	mkdir -p $(CURDIR)/debian/libupsclient1/usr/lib
	mv $(CURDIR)/debian/nut/usr/lib/*.so.* $(CURDIR)/debian/libupsclient1/usr/lib
	
	mkdir -p $(CURDIR)/debian/libupsclient1-dev/usr/include \
		$(CURDIR)/debian/libupsclient1-dev/usr/lib \
		$(CURDIR)/debian/libupsclient1-dev/usr/share/man/man8 
	mv $(CURDIR)/debian/nut/usr/include/*                  $(CURDIR)/debian/libupsclient1-dev/usr/include/ 
	mv $(CURDIR)/debian/nut/usr/share/man/man3             $(CURDIR)/debian/libupsclient1-dev/usr/share/man 
	mv $(CURDIR)/debian/nut/usr/lib/pkgconfig              $(CURDIR)/debian/libupsclient1-dev/usr/lib
	mv $(CURDIR)/debian/nut/usr/lib/libupsclient.a         $(CURDIR)/debian/libupsclient1-dev/usr/lib
	mv $(CURDIR)/debian/nut/usr/lib/libupsclient.la        $(CURDIR)/debian/libupsclient1-dev/usr/lib
	mv $(CURDIR)/debian/nut/usr/lib/*.so                   $(CURDIR)/debian/libupsclient1-dev/usr/lib

	# a bit of cleanup (empty dirs, ...)
	rm -rf $(CURDIR)/debian/nut/usr/include $(CURDIR)/debian/nut/usr/lib
	rm $(CURDIR)/debian/nut/lib/nut/skel

	dh_installexamples
	rm -f $(CURDIR)/debian/nut/etc/nut/*

	dh_installdocs -X.svn
	rm -f $(CURDIR)/debian/nut/usr/share/doc/nut/docs/Makefile*

	mv $(CURDIR)/debian/nut/bin/upssched-cmd $(CURDIR)/debian/nut/usr/share/doc/nut/examples

	dh_installchangelogs ChangeLog
	dh_installinit -- start 50 2 3 4 5 . stop 50 0 1 6 .
	dh_link
	touch $@

binary-indep: DH_OPTIONS=-i
binary-indep: install

binary-arch: DH_OPTIONS=-a
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs
	dh_shlibdeps
#	dh_shlibdeps -Xlibupsclient.a
ifeq (linux,$(DEB_HOST_ARCH_OS))
	dh_gencontrol -- -Vudev="udev"
else
	dh_gencontrol -- -Vudev=""
endif
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary configure install uninstall patch unpatch
