dmf-test
dmf-reindex
dmf-lua-test
*.o
*/*.json.tmp
*/*.dmf.tmp
*/S*_*.dmf
*/.uptodate
*/.validated
.dmfgen-sanity-validated
*/.dmfgen-sanity-validated
*_TEST.c
*_TEST.exe
*-mib.c
legacy-mibfiles-list.mk.in
legacy-mibfiles-list.mk
