#
# ipp-os-shutdown.conf
#
# Settings that specify typical shutdown commands for various supported OSes
# Version for HP-UX
#
# See http://docstore.mik.ua/manuals/hp-ux/en/5991-1247B/ch05s09.html
# and http://docstore.mik.ua/manuals/hp-ux/en/5991-1247B/ch05s01.html#bgbjeidh

#
# By default HPUX shutdown leaves the box halted and running, so requesting
# delayed UPS powercycling may be critical for proper shutdowns.
#
# To enable actual powerdown on chosen server models, you may need to
# run `acpiconfig enable softpowerdown` from the UEFI shell and reboot
# the HPUX partition. See more details in HP docs about your server model.
#

# The program which executes an OS shutdown, maybe including flags that
# disable its interactive mode
CMD_SHUTDOWN="/usr/sbin/shutdown -y"
#CMD_SHUTDOWN="/sbin/shutdown -y"

# Depending on OS and hardware support, "poweroff" option may tell the
# host's power source units to cut off their power to the motherboard,
# and "halt" may sit forever at the "OS is stopped" prompt or equivalent.
SDFLAG_POWEROFF="-h"
SDFLAG_REBOOT="-r"
SDFLAG_HALT="-R -H"     # Reconfigure+Hold

# The flag for quick stop (shorter service stop timeouts and fewer/no
# logs, or outright go to kill remaining processes)
SDFLAG_UNGRACEFUL="now"

# Trigger a shutdown without delay
SDFLAG_INSTANT="now"

## Filename to store the PID of a pending shutdown
## If this file is absent, the shutdown can not be canceled (killed)
## If the "${SHUTDOWN_PIDFILE}.irreversible" exists and points to running PID
## then the new shutdown can not be queued (caller must cancel old one first)
SHUTDOWN_PIDFILE="/var/run/nut/shutdown.pid"
