Makefile
bcmxcp_usb
energizerups
hidups
tripplite_usb
newhidups
snmp-ups
upsdrvctl
al175
apcsmart
bcmxcp
belkin
belkinunv
bestfcom
bestuferrups
bestups
blazer
cpsups
cyberpower
dummy-ups
esupssmart
etapro
everups
fentonups
gamatronic
genericups
ippon
isbmex
liebert
masterguard
megatec
metasys
mge-shut
mge-utalk
mustek
nitram
oneac
optiups
powercom
safenet
sms
solis
tripplite
tripplitesu
upscode2
victronups
