#layout-menu-box {
  float: left;
  width: 207px;
  height: 100%;
  z-index: 1;
  background-color: #f4f4f4;
  border-right: 3px solid #eeeeee;
}

#layout-menu { margin-left: 0px; }

#sponsor {
  font-size: small;
  margin-top: 100px;
  margin-bottom: 10px;
  color:#0067CD;
  font-weight:bold;
}

#layout-content-box {
  float: right;
  margin: 0;
  background-color: white;
}