body {
  margin: 0;
  font-size: 0.9em;
  background-color: #f4f4f4;
}

#layout-banner-box {
  width: 100%;
  height: 110px;
  z-index: 2;
  background-color: #0067cd;
}

#layout-menu-box {
  float: left;
  height: 100%;
  z-index: 1;
}

#layout-content-box {
  border-left: 3px solid #eeeeee;
  background-color: white;
  overflow-y: auto;
}

h1 {
  margin-top: 0.5em;
}

#layout-banner {
  color: white;
  font-family: sans-serif;
  text-align: left;
  padding: 0.8em 20px;
}

#layout-title {
  font-family: monospace;
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

#layout-description {
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

#sponsor {
  clear: both;
  font-size: small;
  margin-top: 50px;
  margin-bottom: 10px;
  color:#0067CD;
  font-weight:bold;
}

#sponsor span { margin-left: 10px; }
#sponsor img { border: 0; }

#layout-menu {
  padding-top: 0.8em;
  padding-left: 20px;
  margin-left: 0;
  font-size: 1.0em;
  font-family: sans-serif;
  font-weight: bold;
  list-style: none;
  list-style-image: url(../images/blue-arrow.png)
}
#layout-menu li { margin-left: 10px; }
#layout-menu a {
  line-height: 2em;
  margin-left: 0.5em;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: #0067cd;
  text-decoration: none;
}
#layout-menu a:hover {
  color: navy;
  text-decoration: none;
}
#layout-menu #page-source {
  border-top: 2px solid silver;
  margin-top: 0.2em;
}

#layout-content {
  padding-top: 0.2em;
  padding-left: 1.0em;
  padding-right: 0.4em;
}

@media print {
  #layout-banner-box { display: none; }
  #layout-menu-box { display: none; }
  #layout-content-box { margin-top: 0; margin-left: 0; }
}


#ups_list
{
  margin: 20px 0 0 0; width: 100%;
  border-collapse: collapse;
}
#ups_list td { border: 1px solid silver; }
#ups_list thead { font-weight: bold; background: #bbb; }
#ups_list .odd { background: #eee; }
#ups_list .even { background: #ddd; }
.filter { min-width: 100px; }

td#manufacturer-col { width: 20%; }
td#model-col { width: 50%; }
td#driver-col { width: 30%; }

.blue { background-color: #cfd9fe; }
.green { background-color: #b1fea7; }
.yellow { background-color: #fdf88e; }
.orange { background-color: #fccb81; }
.red { background-color: #ffa4a4; }

.hidden { display: none; }

#filters-set, #filters-set fieldset { display: none; border: 1px solid silver; padding: 10px; }
#filters-set legend { font-weight: bold; }
#filters-set td { border: 0; }
#filters-set fieldset { display: block; }
#support-level-legend { float: right; margin-right: 10px; padding: 10px; }
.support-level-descr { margin-left: 20px; float: right; }
