body {
  margin: 0;
  font-size: 0.9em;
}

#layout-banner-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
  z-index: 2;
  background-color: #0067cd;
}

#layout-menu-box {
  position: fixed;
  left: 0px;
  top: 110px;
  width: 207px;
  height: 100%;
  z-index: 1;
  background-color: #f4f4f4;
  border-right: 3px solid #eeeeee;
}

#layout-content-box {
  position: relative;
  margin-top: 110px;
  margin-left: 210px;
  background-color: white;
}

h1 {
  margin-top: 0.5em;
}

#layout-banner {
  color: white;
  font-family: sans-serif;
  text-align: left;
  padding: 0.8em 20px;
}

#layout-title {
  font-family: monospace;
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

#layout-description {
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

#sponsor {
  bottom:0;
  font-size: small;
  position: fixed;
  margin-bottom: 10px;
  color:#0067CD;
  font-weight:bold;
}

#sponsor span { margin-left: 10px; }
#sponsor img { border: 0; }

#layout-menu {
  height: 100%;
  padding-top: 0.8em;
  padding-left: 20px;
  font-size: 1.0em;
  font-family: sans-serif;
  font-weight: bold;
  list-style: none;
  list-style-image: url(../images/blue-arrow.png)
}
#layout-menu li { margin-left: 10px; }
#layout-menu a {
  line-height: 2em;
  margin-left: 0.5em;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: #0067cd;
  text-decoration: none;
}
#layout-menu a:hover {
  color: navy;
  text-decoration: none;
}
#layout-menu #page-source {
  border-top: 2px solid silver;
  margin-top: 0.2em;
}

#layout-content {
  padding-top: 0.2em;
  padding-left: 1.0em;
  padding-right: 0.4em;
}

@media print {
  #layout-banner-box { display: none; }
  #layout-menu-box { display: none; }
  #layout-content-box { margin-top: 0; margin-left: 0; }
}


#ups_list
{
  margin: 20px 0 0 0; width: 100%;
  border-collapse: collapse;
}
#ups_list td { border: 1px solid silver; }
#ups_list thead { font-weight: bold; background: #bbb; }
#ups_list .odd { background: #eee; }
#ups_list .even { background: #ddd; }
.filter { min-width: 100px; }

td#manufacturer-col { width: 20%; }
td#model-col { width: 50%; }
td#driver-col { width: 30%; }

.blue { background-color: #4edfef; }
.green { background-color: #b1fea7; }
.yellow { background-color: #fdf88e; }
.orange { background-color: #fccb81; }
.red { background-color: #fc8181; }

.hidden { display: none; }

#filters-set { margin: 0; display: none; border: 1px solid silver; }
#filters-set legend { font-weight: bold; }
#filters-set td { border: 0; }
