libexpat-1.dll
libgcc_s_dw2-1.dll
libiconv-2.dll
libintl-8.dll
libltdl-7.dll
libneon-27.dll
libnetsnmp-30.dll
libregex-1.dll
libz-1.dll
msys-1.0.dll
msys-crypto-1.0.0.dll
msys-regex-1.dll
msys-ssl-1.0.0.dll
pthreadgc2.dll
