# Nested configuration file

# The following documents with code samples have
# intentional trailing whitespace and should be
# only reformatted manually and attentively:
[{nut.conf,upsmon.conf}.txt]
trim_trailing_whitespace = false
