body {
  margin: 0;
}

#layout-banner-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
  z-index: 2;
	background-color: #0067cd;
}

#layout-menu-box {
  position: fixed;
  left: 0px;
  top: 110px;
  width: 200px;
  height: 100%;
  z-index: 1;
	background-color: #f4f4f4;
}

#layout-content-box {
  position: relative;
  margin-top: 110px;
  margin-left: 200px;
	background-color: white;
}

h1 {
  margin-top: 0.5em;
}

#layout-banner {
  color: white;
	font-family: sans-serif;
	text-align: left;
  padding: 0.8em 20px;
}

#layout-title {
	font-family: monospace;
	font-size: 3.5em;
	font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

#layout-description {
	font-size: 1.2em;
  letter-spacing: 0.1em;
}

#layout-menu {
  height: 100%;
  border-right: 3px solid #eeeeee;
  padding-top: 0.8em;
  padding-left: 20px;
  padding-right: 0.8em;
	font-size: 1.0em;
	font-family: sans-serif;
	font-weight: bold;
}
#layout-menu a {
  line-height: 2em;
  margin-left: 0.5em;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: #0067cd;
  text-decoration: none;
}
#layout-menu a:hover {
	color: navy;
  text-decoration: none;
}
#layout-menu #page-source {
  border-top: 2px solid silver;
  margin-top: 0.2em;
}

#layout-content {
  padding-top: 0.2em;
  padding-left: 1.0em;
  padding-right: 0.4em;
}

@media print {
  #layout-banner-box { display: none; }
  #layout-menu-box { display: none; }
  #layout-content-box { margin-top: 0; margin-left: 0; }
}
